.letter-input-container {
  width: 85%;
  height: 230px;
  border-radius: 32px;
  border: 16px solid #91CF43;
  box-sizing: border-box;
  text-align: left;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.letter-input {
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
  resize: none;
  padding: 20px;
  font-size: 0.9rem;
  font-weight: 400;
  box-sizing: border-box;
  color: #000;
  border-radius: 32px;
}

.letter-input::placeholder {
  font-size: 0.825rem;
  color: #91CF43;
  opacity: 0.6;
  font-weight: 400;
}

.letter-display-area {
    width: 100%;
    height: 100%;
    padding-top: 4rem;
    padding-right: 4rem;
    display:flex;
    flex-direction: column;
}

.number-button-group {
  display: flex;
  gap: 10px;
  margin-top: 15px;
}

.number-btn {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  border: 2px solid #91cf43;
  background-color: white;
  color: #333;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.2s ease;
}

.number-btn:hover {
  background-color: #91cf43;
  color: white; 
}

.number-btn.active {
  background-color: #91cf43;
  color: white;
}

.letter-display-area .letter-continue-btn{
    width: 90px;
    padding: 5px 10px;
    margin-top: 1rem;
    margin-left: auto;
}