.ai-menu-page {
    display:flex;
    width: 100%;
    
    min-height: 200vh;
    justify-content: center;
}

.ai-menu-background {
    position: absolute; /* layer it */
    top: 7%;
    left: -5%;
    width: 105%;
    height: 150%;
    background-image: url('/src/assets/images/ai-menu-object1.png');
    background-size: cover;
        transform: scale(1.07);
    background-position: center top; /* top of image visible */
    z-index: 1; 
    pointer-events: none;
}

.ai-menu-page-container {
    margin: 0;
    max-width: none;
    margin-top: 15vh;
    width: 90%;
    height: 30.25rem;
    background-color: #27600B;
    border-radius: 40px;
    justify-content: center;
    margin-bottom: 20vh;
    display: flex;
    flex-direction: column;
}

.ai-menu-word {
  margin-top: 6%;
    width: 100%;
    text-align: center;
    margin-bottom: 10%;
    
}
.ai-menu-word h2{
    margin-top: 2%;
    padding-left: 40%;
    font-family: NightyDemo;
    font-size: 12.5rem;
    color: white;
    line-height: 0.5;
    margin-bottom: 0;
}

.ai-menu-word span{
    padding-left: 30%;
    color: white;
    font-size: 1.25rem;
    
}

.circle-btn {
  margin-top: 2%;
    display:flex;
    margin-left: 70%;
    width:158px;
    height: 158px;
    justify-content: center;
    align-items: center;
  border-radius: 50%;
  border: 5px solid #91CF43;        /* border color */
  background-color: white;        /* background color */
  color: #91CF43;                      /* text color */
  font-weight: bold;
  cursor: pointer;
  transition: all 0.6s ease;
text-decoration: none;;
}

.circle-btn span {
    padding:0;
  font-size: 6rem;
  transition: all 0.6s ease;
    color: #91CF43;
}

.circle-btn:hover {
  background: #91CF43;
  border-color: white;
  text-decoration: none;
}

.circle-btn:hover span{
  color:   white;
  text-decoration: none;
}

@media screen and (max-width: 768px) {
  .ai-menu-page-container {
    width: 90%;
    height: 160px;
    margin-top: 5vh;
    margin-bottom: 10vh;
    border-radius: 13px;
  }

  .ai-menu-word h2{
    margin-top: 2rem;
    font-size: 6rem;
    line-height: 0.8;
  }

  .ai-menu-background {
    width: 100%;
    top: 5%;
    height: 40%;
  }

  .ai-menu-word a{
    width: 50px;
    height: 50px;
    border: 2px solid #91CF43;
  }

  .ai-menu-word a span{
    font-size: 2rem;
  }

  .ai-menu-word span{
    font-size: 1rem;
  }
}