.detox-btn {
       width: 1306px;
      height: 445.01px;
      background-color: #D0E9FE;
      background-image: url('../assets/images/DetoxBox.png'); /* Đường dẫn đến ảnh nền */
      background-repeat: no-repeat;
      background-size: cover; /* hoặc contain nếu muốn toàn bộ ảnh hiển thị */
      background-position: center;
      border: none;
      border-radius:  50px;
      font-size: 18px;
      color: white;
      font-weight: bold;
      cursor: pointer;
    }

    .detox-btn:hover {
      opacity: 0.85;
    }

    .giftbox-btn {
      width: 1306px;
      height: 445.01px;
        margin-top: 70px;

      background-color: #91CF43;
      background-image: url('../assets/images/Gift-Box.png'); /* Đường dẫn đến ảnh nền */
      background-repeat: no-repeat;
      background-size: cover; /* hoặc contain nếu muốn toàn bộ ảnh hiển thị */
      background-position: center;
      border: none;
      border-radius:  50px;
      font-size: 18px;
      color: white;
      font-weight: bold;
      cursor: pointer;
    }
   @font-face {
  font-family: "MyCustomFont";
  src: url('../assets/fonts/nighty/NightyDEMO.otf') format("opentype");
}
.large-text {
  font-family: "MyCustomFont", sans-serif;
  margin-top: -50px;
   display: block; 
   font-size: 200px; 
   font-weight: 700;
   text-shadow: 3px 3px 6px rgba(0, 0, 0, 0.4);
  /* line-height: 0.9; giảm bớt so với 1 */
}
.inner-button {
  background-color: white;
  color: #27600B;
  font-weight: bold;
  padding: 4px 8px; /* Giảm padding để nút nhỏ hơn */
  font-size: 3px; /* Giảm kích thước chữ */
  border-radius: 5px;
  cursor: pointer;
  margin-top: 5px; /* Giảm khoảng cách giữa các phần tử */
  display: inline-block;
  /* border: 1px solid #27600B; */
}

.inner-button:hover {
  background-color: #b8d9f9;
}
