.today-menu-page {
    width:100%;
    min-height: 100vh;
}

.today-menu-container {
    margin-left: 10%;
    width: 100%;
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    margin-bottom: 4rem;
}

.today-menu-word span {
    font-weight: 600;
}

.today-menu-word-cooking p{
    margin-bottom: 0;
}
.today-menu-word-form {
    display: flex;
    flex-direction: row;
    width:100%;
    gap: 20%;
}


.today-menu-word-cooking,
.today-menu-word-ingredient {
    display: flex;
    width: 50%;
    flex-direction: column;
}
.today-menu-word span {
    font-size: 1.2rem;
    color: #27600B;
    margin-bottom: 1rem;
}
.today-menu-word-cooking span{
    margin:0;
}
.today-menu-word ul,
.today-menu-word    p,
    .today-menu-word h3,
    .today-menu-word div,
    .today-menu-word li {
        color: #27600B;
    }
.today-menu-word {
    width:fit-content;
    padding: 0.5rem 1rem;
    border-radius: 20px;
}

.today-menu-word h2 {
    
}

@media screen and (max-width: 768px) {
    .today-menu-page {
        justify-content: center;
        display: flex;
    }
    .today-menu-container {
        width: 90%;
        min-height: 120px;
        max-height: fit-content;
        margin-left: 0;
        padding: 1rem 0 0 1rem;
        border-radius: 12px;
        background-color: #91cf43;
    }

    .head2 {
        color: white;
    }
    
    ul,
    li {
        color: #27600B;
    }
    p {
        color: #27600B;
    }
    .head3 {
        color: white;
        border-bottom: 3px solid white;
    }
    .today-menu-word {
        padding: 0.5rem;
        border-radius: 10px;
    }

    .today-menu-word span {
        font-size: 1rem;
    }
}