.cart-item{
    display: flex;
    flex-direction: row;
    max-height: 100px;
}

.cart {
    background: transparent;
    display:flex;
    width: 100%;
    padding: 2rem;
    min-height: 500px;
    margin: 0 auto;
}

.cart-item-page {
    width:70%;
    /* background-color: blue; */
    padding-left: 3%;
    padding-right: 2rem;
}

.cart-checkout-page {
    display: flex;
    /* background-color: green; */
    width:30%;
    justify-content:center;
    align-items: flex-start;
}

.cart-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0.5rem;
  margin-bottom: 0.5rem;
}

.cart-image {
    width: 50px;
    height: 50px;
    object-fit: fill;
    border-radius: 8px;
}

.cart-name-remove{
    display:flex;
    flex-direction: column;
    text-align:start;
    align-items: baseline;
    gap: 0.5rem;
    padding-left: 0.6rem;
    width: 50%;
    white-space:inherit;  
}

.cart-item-page p {
    align-items: center;
    text-align: center;
    /* font-size: 2rem; */
    color: #91CF43;
    font-weight: 700;
}

.cart-name-remove h3{
    font-size: 1.2rem;
    width: 100%;
    color:#27600B;
    max-width: 100%;
    font-weight: 400;
    margin:0;
  display: -webkit-box;            /* creates a flexible box */
  -webkit-box-orient: vertical;    /* stack children vertically */
  -webkit-line-clamp: 2;           /* limit text to 2 lines */
  overflow: hidden;                /* hide overflowing text */
  text-overflow: ellipsis;         /* add ellipsis */
  white-space: normal;             /* allow wrapping */
  overflow-wrap: break-word;       /* break long words if needed */
    /* hide extra text */

}

.cart-remove {
  border: 0;
  background-color: transparent;
  color: #171717;
  font-weight: 300;
}

.cart-remove:hover {
    color:#373333
}

.cart-price-quantity {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin-left:auto;
    justify-content: flex-end;
    
}
.cart-item-price {
    display:flex;
    justify-content: flex-end;
    align-items: flex-end;
    margin-bottom: 0;
    padding-top: 0.3rem;
    font-size: 1.2rem;
    font-weight: 400;
}

.cart-quantity {
    margin-left: auto;
    width: 100%;
    text-align: center;
    display:flex;
    flex-direction: row;
    background-color: transparent;
    justify-content: flex-end;
}

.cart-quantity span{
    display: flex;
    border: 1px solid #6B7280;
    height: 2.5rem;
    width: fit-content;
    justify-content: center;
    align-items: center;
    width: 3rem;
    border-right: none;
    border-left: none;
}
.cart-quantity-button {
    width: 3.25rem;
    height: 2.5rem;
    color:#27600B;
    font-weight: 300;
    font-size: 2rem;
    border: 1px solid #6B7280;
    background-color: transparent;
    line-height: 1;
}

.cart-decrease-style {
    border-radius: 10px 0 0 10px;
    border-right: none;
}

.cart-increase-style {
    border-radius: 0 10px 10px 0;
    border-left: none;
}

.cart-checkout-form {
    width: 90%;
    height: 90%;
    border: 1px solid #6B7280;
    border-radius: 10px;
    background-color: green;
}

.cart-image {
    width: 70px;
    height: 70px;
    object-fit: cover;
    border-radius: 8px;
}