/* Left section with mascot */
.lr-section {
  position: relative;
  flex: 1;
  display:flex;
  width: 100%;
}

.lr-card{ 
    margin-top: 1rem;
  height: 90%;
  width: 100%;
  justify-content:space-between ;
  align-items: center;
  display: flex;
  flex-direction: column;
  padding: 2rem;
  position: relative;
  background-color: #D0E9FE;
  padding-right: 4rem;
  flex-direction: column;
}

.login-card {
  border-radius: 0 30% 30% 0;
}

.register-card{
  border-radius: 30% 0 0 30%;
}

.lr-mascot-container {
    flex:1 ;
  text-align: center;
  flex-direction: column;
}

.login-card h1,
.register-card h1{
    line-height: 0.8;
}

.lr-mascot-text{
    font-family: Inter;
    font-size: 1.25rem;
    position:relative;
    z-index: 1;
    color:#27600B;
}

.lr-logo{
  position: absolute;
  bottom: -8vh;
  left: -9vh;
  display: inline-block;
  justify-content: center;
  align-items: center;
  overflow: visible;
  z-index: 0;
}   

.logo-c {
  position: relative;
  height:60vh;
  width: 60vh;
  z-index:0;
  transition: transform 0.3s ease-in-out;
}

.lr-mascot-container:hover .logo-c {
  transform: scale(1.2);
}

.lr-logo:hover .logo-c{
    transform: scale(1.2);
}


.lr-link-btn{
  display: inline-flex;
  padding: 0.75rem 1.5rem;
  margin-top: 2rem;
  overflow: hidden;
  z-index: 1;
}

.lr-link-btn span{
  font-weight: 700 !important;
}

@media (max-width: 900px){
  .login-card{
    border-radius: 0 0 0 0;
  }
  
  .register-card{
    border-radius: 0 0 0 0;
  }

}

@media (max-width: 768px) {

  .lr-card {
    width: 100vh;
  }

  .lr-section {
    width: 100vh;
    background-color: #D0E9FE;
  }
}