.login-page {
  display: flex;
  min-height: 80vh;
  background-color: #ffffff;
  overflow: hidden;
  position: relative;
}

.login-right-section {
  flex: 1.2;
  display: flex;
  justify-content: center;
  align-items:center;
  padding: 2rem;
  margin-left: 2rem;
  height: 100%;
}

.login-right-card {
  width: 100%;
  max-width: 468px;
  padding: 2rem;
}

.login-header {
  text-align: center;
  margin-bottom: 2rem;
}

.login-header h2 {
  font-size: 2.5rem;
  color: #27600B;
  margin: 0;
  font-weight: bold;
}

.login-form {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.form-group {
  position: relative;
  justify-content: center;
}

.form-actions {
  display:flex;
  justify-content: center;
  gap: 1rem;
  overflow: hidden;
}

.login-footer {
  text-align: center;
  margin-top: 1.5rem;
}

.forgot-password-link {
  color: #27600B;
  background-color: white;
  border-radius: 200px;
  padding: 0.75rem;
  font-size: 1rem;
  font-weight: bold;
  text-decoration: none;
  border: 2px solid #27600B; 
  margin: 16px 0px 0px 10px;
} 


@media (max-width: 768px) {
  .login-page {
    flex-direction: column;
  }
  
  .login-page {
    min-height: auto;
  }
  .login-right-section {
    padding: 1.5rem;
    margin:0;
  }
  
  .veggie-logo h1 {
    font-size: 3rem;
  }
  
  .mascot-image {
    width: 150px;
  }
}

.login-page .head1 {
  font-size: 12.8rem;
  text-align: center;
}

.login-page .lr-link-btn {
  margin:0;
}