.register-page {
  display: flex;
  min-height: 80vh;
  background-color: #ffffff;
  overflow: hidden;
  position: relative;
}

.register-left-section {
  flex: 1.2;
  display: flex;
  margin: 2rem 2rem 2rem 3rem;
  height: 100%;
  padding-top: 2rem;
}

.register-left-card {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  width: 100%;
}

.register-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.625rem;
  width: 70%;
  text-align: center;
}

.input {
  align-self: stretch;
}
.form-group__item {
  display: flex;
  box-sizing: border-box;
  min-width: 0;
  gap: 0.625rem;
  width: calc(100% - 0.8rem);
  margin-right: auto;
}


.coupon-form-group {
  display: flex;
  justify-content: center;
  width: 100%;
}

.form-group__item input {
  width: 200px;
}
.inputName {
  flex: 0 0 45%;
}

.inputPhonenumber{
  flex: 0 0 55%;
  width: calc(100% - 0.8rem);
}

.coupon-form-group{
  display: flex;
  margin-left: auto;
}

.inputCoupon{
  flex: 0 0 70%;
  margin-left: auto;
}

.r-coupon-text {
  outline: none;
  position:absolute;
  z-index: 1;
  padding: 0.75rem 1rem;
  border: 1px solid #8B8B8B;
  font-size: 1rem;
  transition: border-color 0.3s;
  border-radius: 999px 0 0 999px;
  border-right: none;
  text-align: center;
  font-weight:600;
  display:inline-flex;
  max-width: 80vh;
  overflow: visible;
  flex: 0 0 30%;
  border-right: none;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  font-family: Inter;
  display:flex;
  flex-direction: row;
}

.r-coupon-text-visible{
  flex-basis: 70%;
  color: #27600B;
  opacity: 47%;
}

.otp-coupon-group {
  max-width: 900px;
}

@media (max-width: 900px) {
  .register-page {
    flex-direction: column;
    align-items: center;
    padding-bottom: 1rem;
  }

  .register-left-section,
  .login-left-section {
    margin: 1rem 0;
    flex: unset;
    width: 100%;
  }
}

@media screen and (max-width:800px) {
  .register-page .head2 {
    color: #27600B;
    font-size: 2.4rem;
  }
}

@media (max-width: 600px) {
  .head2 {
    font-size: 2rem;
    
  }

  .register-form input {
    font-size: 0.9rem;
    padding: 0.6rem 0.8rem;
  }

  .register-page .lr-link-btn {
    margin:0;
  }
}
