.register-page {
  display: flex;
  min-height: 80vh;
  background-color: #ffffff;
  overflow: hidden;
  position: relative;
}

.register-left-section {
  flex: 1.2;
  display: flex;
  margin: 2rem 2rem 2rem 3rem;
  height: 100%;
  justify-content: center;
  align-items: center;
}

.register-left-card {
  display: flex;
  flex-direction: column;
  position: relative;
  text-align: center;
  width: 75%;
}

.form-group__item{
  display: flex;
  flex-direction: row;
  width:100%;
  gap: 0.75rem;
}

.inputName {
  flex: 1 1 0;
}

.inputPhonenumber{
  flex: 3 1 0;
  overflow: hidden;
}

.coupon-form-group{
  width: 80%;
  display: flex;
  margin-left: auto;
}

.inputCoupon{
  width: 60%;
}