/* File: index.css */

:root {
  font-family: Inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light; /* Chỉ dùng theme sáng */
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  min-height: 100vh;
  background-color: #f8f9fa; 
  font-family: Inter;
  color: #333;
}

#root {
  width: 100%;
}

a {
  text-decoration: none;
}
.form-group {
  display:flex;
  width: 100%;
  box-sizing: border-box;
}
link {
}

span{
  color: #27600B;
}

.head1 {
  font-size: 14rem;
  color: #27600B;
  font-weight: bold;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
  font-family: NightyDemo;
}

.head2 {
  font-family: Inter;
  font-size: 2.5rem;
  font-weight: 600;
  color:#27600B;
}

input{
  flex:1;
  width: 100%;  
  min-width: 100px; 
  outline: none;
  padding: 0.75rem 1rem;
  border: 1px solid #8B8B8B;
  border-radius: 999px;
  font-size: 1rem;
  transition: border-color 0.3s;
  text-align: center;
  font-weight:600;
  display:inline-flex;
  max-width: 900px;
  overflow: visible;
  box-sizing: border-box;
}

input:hover{
  outline: none;
  border-color: #27600B;
  box-shadow: 0 0 0 2px rgba(39, 96, 11, 0.2);
}

input::placeholder{
  color: #27600B;
  opacity: 47%;
  font-family: Inter;
}

div {
  font-family: Inter;
}

.d-btn-font {
  -webkit-tap-highlight-color: transparent;
  background-image: none;
  color: #27600B;
  cursor: pointer;
  font-family:Inter, sans-serif; 
  font-size: 0.8rem;
  line-height: 1.5;
  margin: 0;
  padding: 0;
  font-weight: bold;
  text-decoration: none;
}

.d-btn {
  border: 2px solid #27600B;
  border-radius: 999px;
  box-sizing: border-box;
  color: #27600B;
  padding: 0.5rem 0.8rem;
  position: relative;
  overflow: hidden;
  transition: color 0.5s ease;
  background: white;
  z-index: 0;
}

.d-btn::after {
  content: "";
  position: absolute;
  bottom: -50%;
  left: 90%;
  width: 0%;
  height: 0%;
  background: #27600B;
  /* border-radius: 50%; */
  border-radius: 999px 999px 0px 0px;
  transform: translateX(-50%);
  transition: width 0.3s ease, height 0.3s ease, border-radius 0.3s  linear;
  z-index: 0;
}

.d-btn:hover {
  color: white;
}

.d-btn:hover::after {
  width: 200%;
  height: 500%;
  border-radius: 0%;
}

.d-btn span { 
  position: relative; 
  z-index: 1;
}


@font-face {
  font-family: NightyDemo;
  src: url('../src/assets/fonts/nighty/NightyDEMO.otf');
}

@font-face {
  font-family: Inter;
  src: url('/src/assets/fonts/Inter-VariableFont_opsz\,wght.ttf');
}