.cart-item{
    display: flex;
    flex-direction: row;

}

.cart {
  background: transparent;
}

.cart-item {
  border: 1px solid #ddd;
  width: 100%;
    align-items: center;
    padding: 0.5rem;
}

.cart-image {
    width: 50px;
    height: 50px;
    object-fit: cover;
}

.cart-name-remove{
    display:flex;
    flex-direction: column;
    text-align:start;
    align-items: baseline;
    gap: 0.5rem;
    padding-left: 0.6rem;
    width: 30%;
}

.cart-name-remove h3{
    font-size: 1.2rem;
    color:#27600B;
    font-weight: 400;
    margin:0;
    overflow: hidden;
}

.cart-remove {
  border: 0;
  background-color: transparent;
  color: #171717;
  font-weight: 300;
}

.cart-remove:hover {
    color:#373333
}

.cart-price-quantity {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin-left:auto;
    justify-content: flex-end;
    
}
.cart-item-price {
    display:flex;
    justify-content: flex-end;
    align-items: flex-end;
    margin-bottom: 0;
    padding-top: 0.3rem;
    font-size: 1.2rem;
    font-weight: 600;
}

.cart-quantity {
    margin-left: auto;
    width: 15%;
    text-align: center;
    display:flex;
    flex-direction: row;
}

.cart-quantity span{
    display: flex;
    border: 1px solid #6B7280;
    height: 2.5rem;
    width: fit-content;
    justify-content: center;
    align-items: center;
    width: 3rem;
    border-right: none;
    border-left: none;
}
.cart-quantity-button {
    width: 3.25rem;
    height: 2.5rem;
    color:#27600B;
    font-weight: 500;
    font-size: 1.25rem;
    background-color: transparent;
    border: 1px solid #6B7280;

}

.cart-decrease-style {
    border-radius: 10px 0 0 10px;
    border-right: none;
}

.cart-increase-style {
    border-radius: 0 10px 10px 0;
    border-left: none;
}